.image-container {
    height: 130px;
    width: 130px;
    margin: auto;
    border-radius: 15px;
    background: url("/assets/profileIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.35s;
    }

    &:hover {
        opacity: 0.8;

        &::before {
            content: '';
            border-bottom: 3px solid black;
            z-index: 2;
            opacity: 1;
        }
    }
}

.edit-button{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: rgb(168, 196, 27);
    cursor: pointer;
    border: transparent;

    &:hover{
        background-color:rgb(201, 215, 129); ;
    }
}


.add-button{
    width: 45px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: rgb(168, 196, 27);
    cursor: pointer;
    border: transparent;
    margin-left: 15px;

    &:hover{
        background-color:rgb(201, 215, 129); ;
    }
}

.table{
    font-size: 16px;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .search-bar{
        width: 240px;
        height: 30px;
        border-radius: 8px;
        border: 1px solid rgb(189, 189, 189);
        font-size: 17px;
        text-align:justify;
    }

    label{
        font-size: 17px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
    }
}

.toggle-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    width: 50px;
    height: 50px;
}

.toggle-button:hover{
    border-bottom: 1px solid rgb(181, 210, 181);
}