<div class="navigation-bar">
    <div>
        <div class="navigation-buttons-container" *ngIf="menuItems!!">
            <div *ngFor="let menuItem of menuItems"  >
                <a *ngIf="menuItem.display" (click)="navigate(menuItem)">
                    {{menuItem.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="logo-textless-container">
        <img src="/assets/LogoTextless.png" width="130" height="90">
        <span>HappyCamps</span>
    </div>
    <div class="navigation-right-section">
        <div class="navigation-icon">
            About
        </div>
        <button class="navigation-icon" (click)="LogOut()">Log Out</button>
    </div>
</div>