<div class="navigation-bar">
    <div>
        <div class="navigation-buttons-container" *ngIf="menuItems!!">
            <a *ngFor="let menuItem of menuItems" (click)="navigate(menuItem)">
                {{menuItem.name}}
            </a>
        </div>
    </div>
    <div class="logo-textless-container">
        <img src="/assets/LogoTextless.png" width="130" height="90">
        <span>HappyCamps</span>
    </div>
   
    <div class="navigation-icon">
        About
    </div>
    <button class="navigation-icon" (click)="LogOut()">LogOut</button>
</div>