body{
    margin: 0px;
}

$background_color : rgba(215, 135, 133, 0.329);

input {
    outline: 0;
    height: 30px;
    font-size: 18px;
    border-width: 0 0 2px;
    border-color: rgb(109, 109, 188);
    margin-bottom: 20px;
}

input:focus {
    border-color: rgb(247, 249, 83);
}

.navigation-bar{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(177, 119, 81, 0.872);
    color:white;

    span{
        margin-left: 5px;
        margin-top: 2px;
        margin-right: 5px;
        text-align: center;
        color: white;
    }
}