<div class="modal">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="editEventForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <label>Name</label>
              <input formControlName="name" nz-input placeholder="Name" />
              <label *ngIf="name?.errors?.['required']"> Required</label>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <label>Points</label>
                <input type="number" formControlName="points" nz-input placeholder="Points" />
                <label *ngIf="points?.errors?.['required']"> Required</label>
                <label *ngIf="points?.errors?.['minPoints']"> Minimum is 1</label>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <label>Location</label>
                <input formControlName="location" nz-input placeholder="Location" />
                <label *ngIf="location?.errors?.['required']"> Required</label>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                  <label>{{user_email}}</label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <label>Start Date</label><br>
                <nz-date-picker formControlName="startDate"  placeholder="Start Date" />
                <label *ngIf="startDate?.errors?.['required']"> Required</label>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <label>End Date</label><br>
                <nz-date-picker formControlName="endDate" placeholder="End-Date" />
                <label *ngIf="endDate?.errors?.['required']"> Required</label>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item id="confirm-container">
            <nz-form-control>
              <button nz-button nzType="primary" class="confirm-button">Confirm</button>
            </nz-form-control>
        </nz-form-item>
      </form>
    </div>