<div class="navigation-bar">
  <div class="navigation-buttons-container">
    <a>Events</a>
    <a>Profile</a>
    <a>Achievements</a>
  </div>
  <div class="logo-textless-container">
    <img src="/assets/LogoTextless.png" width="130" height="90">
    <span>HappyCamps</span>
  </div>
  <div class="navigation-icon">
    About
  </div>
</div>
<div class="page-container">
  <div class="vertical-page-container">
    <div class="image-container">
      <div class="image-content">
        <span>Remarkable Network</span>
        <div>
          Happy Camps is the largest network in the nonprofit world, with the most volunteers, nonprofits and
          opportunities to make a difference.</div>
        <button class="image-overlay-button">Enroll Now</button>
      </div>
    </div>
    <!-- Mission -->
    <div class="mission-container">
      <span>Our Mission</span>
      <p>We are all about creating inclusion and if you are interested in empowering people with a disability to be
        equal and empowered citizens then we want you! We’re always looking for supportive and reliable volunteers, no
        matter how much or how little time you’re able to spare. No special skills or qualifications are necessary.</p>
      <p>Our volunteer programs can be an incredibly rewarding experience for you, but it makes a real difference to the
        people we support.</p>
    </div>
    <hr width="60%">
    <!-- Cards  -->
    <div class="cards-container">
      <div class="card-item">
        <nz-card class="event-card" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Environment" [nzDescription]="descriptionTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <div class="card-image-container" [style.background-image]="'url(' + '/assets/volunteeringImage1.jpg' + ')'">
            <div class="card-image-content">
              <span>Environment</span>
            </div>
          </div>
        </ng-template>
        <ng-template #descriptionTemplate>
          Healthy ecosystems clean our water, purify our air, maintain our soil, regulate the climate, recycle nutrients
          and provide us with food. They provide raw materials and resources for medicines and other purposes.
        </ng-template>
      </div>

      <div class="card-item">
        <nz-card class="event-card" [nzCover]="coverTemplate2">
          <nz-card-meta nzTitle="Support" [nzDescription]="descriptionTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate2>
          <div class="card-image-container" [style.background-image]="'url(' + '/assets/volunteeringImage3.jpg' + ')'">
            <div class="card-image-content">
              <span>Support</span>
            </div>
          </div>
        </ng-template>
        <ng-template #descriptionTemplate>
          Helping others improves social interaction, distracts people from their own problems, and improves self-esteem
          and competence. Physical Well-Being - helping others leads to increased social integration which allows people
          to lead more active lifestyles.
        </ng-template>
      </div>

      <div class="card-item">
        <nz-card class="event-card" [nzCover]="coverTemplate3">
          <nz-card-meta nzTitle="Impact" [nzDescription]="descriptionTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate3>
          <div class="card-image-container" [style.background-image]="'url(' + '/assets/volunteeringImage4.jpg' + ')'">
            <div class="card-image-content">
              <span>Impact</span>
            </div>
          </div>
        </ng-template>
        <ng-template #descriptionTemplate>
          Volunteering means giving your time and abilities to aid others without expecting financial compensation. Put
          simply, volunteering is a service to your community.
          Nothing gets done by one person alone and every community needs people who give back.
        </ng-template>
      </div>
    </div>
    <div class="start-button-container">
      <button class="start-butt">Start to help others now!</button>
    </div>
    <br>
  </div>
</div>